In [1]:
import pandas as pd
import numpy as np

In [49]:
df2013 = pd.read_csv('./data/standings/2013.csv')
df2014 = pd.read_csv('./data/standings/2014.csv')

df2013 = df2013.assign(NextPoints= [0] * 20)
df2014 = df2014.assign(NextPoints= [0] * 20)

for row in df2013.itertuples():
    a= df2014.loc[df2014['Team'] == row.Team, 'Points'].iloc[0]
    df2013.at[row.Index, 'NextPoints'] = a

IndexError: single positional indexer is out-of-bounds

In [48]:
df2013

,Unnamed: 0,Team,GamesPlayed,Points,GoalsFor,GoalsAgainst,GoalDifference,Shots,ShotsPerGame,NextPoints
0,0,Man United,38,89,86,43,43,512,13.473684,64
1,1,Man City,38,78,66,34,32,601,15.815789,86
2,2,Chelsea,38,75,75,39,36,569,14.973684,82
3,3,Arsenal,38,73,72,37,35,546,14.368421,79
4,4,Tottenham,38,72,66,46,20,617,16.236842,69
5,5,Everton,38,63,55,40,15,561,14.763158,72
6,6,Liverpool,38,61,71,43,28,669,17.605263,84
7,7,West Brom,38,49,53,57,-4,460,12.105263,36
8,8,Swansea,38,46,47,51,-4,460,12.105263,42
9,9,West Ham,38,46,45,53,-8,439,11.552632,40
10,10,Norwich,38,44,41,58,-17,372,9.789474,33
11,11,Fulham,38,43,50,60,-10,425,11.184211,32
12,12,Stoke,38,42,34,45,-11,338,8.894737,50
13,13,Newcastle,38,41,45,68,-23,471,12.394737,49
14,14,Aston Villa,38,41,47,69,-22,393,10.342105,38
15,15,Southampton,38,41,49,60,-11,473,12.447368,56
16,16,Sunderland,38,39,41,54,-13,378,9.947368,38
17,17,Wigan,38,36,47,73,-26,452,11.894737,0
18,18,Reading,38,28,43,73,-30,351,9.236842,0
19,19,QPR,38,25,30,60,-30,465,12.236842,0

In [19]:
df2013

,Unnamed: 0,Team,GamesPlayed,Points,GoalsFor,GoalsAgainst,GoalDifference,Shots,ShotsPerGame,NextPoints
0,0,Man United,38,89,86,43,43,512,13.473684,64
1,1,Man City,38,78,66,34,32,601,15.815789,86
2,2,Chelsea,38,75,75,39,36,569,14.973684,82
3,3,Arsenal,38,73,72,37,35,546,14.368421,79
4,4,Tottenham,38,72,66,46,20,617,16.236842,69
5,5,Everton,38,63,55,40,15,561,14.763158,72
6,6,Liverpool,38,61,71,43,28,669,17.605263,84
7,7,West Brom,38,49,53,57,-4,460,12.105263,36
8,8,Swansea,38,46,47,51,-4,460,12.105263,42
9,9,West Ham,38,46,45,53,-8,439,11.552632,40
10,10,Norwich,38,44,41,58,-17,372,9.789474,33
11,11,Fulham,38,43,50,60,-10,425,11.184211,32
12,12,Stoke,38,42,34,45,-11,338,8.894737,50
13,13,Newcastle,38,41,45,68,-23,471,12.394737,49
14,14,Aston Villa,38,41,47,69,-22,393,10.342105,38
15,15,Southampton,38,41,49,60,-11,473,12.447368,56
16,16,Sunderland,38,39,41,54,-13,378,9.947368,38
17,17,Wigan,38,36,47,73,-26,452,11.894737,0
18,18,Reading,38,28,43,73,-30,351,9.236842,0
19,19,QPR,38,25,30,60,-30,465,12.236842,0

In [41]:
df2014

,Unnamed: 0,Team,GamesPlayed,Points,GoalsFor,GoalsAgainst,GoalDifference,Shots,ShotsPerGame
0,0,Man City,38,86,102,37,65,673,17.710526
1,1,Liverpool,38,84,101,50,51,650,17.105263
2,2,Chelsea,38,82,71,27,44,693,18.236842
3,3,Arsenal,38,79,68,41,27,524,13.789474
4,4,Everton,38,72,61,39,22,560,14.736842
5,5,Tottenham,38,69,55,51,4,584,15.368421
6,6,Man United,38,64,64,43,21,525,13.815789
7,7,Southampton,38,56,54,46,8,531,13.973684
8,8,Stoke,38,50,45,52,-7,425,11.184211
9,9,Newcastle,38,49,43,59,-16,579,15.236842
10,10,Crystal Palace,38,45,33,48,-15,414,10.894737
11,11,Swansea,38,42,54,54,0,494,13.000000
12,12,West Ham,38,40,40,51,-11,418,11.000000
13,13,Aston Villa,38,38,39,61,-22,430,11.315789
14,14,Sunderland,38,38,41,60,-19,490,12.894737
15,15,Hull,38,37,38,53,-15,425,11.184211
16,16,West Brom,38,36,43,59,-16,485,12.763158
17,17,Norwich,38,33,28,62,-34,464,12.210526
18,18,Fulham,38,32,40,85,-45,431,11.342105
19,19,Cardiff,38,30,32,74,-42,419,11.026316